.slider {
    position: relative;
    width: 40%;
    margin: auto;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
  }
  
  .slide {
    width: 100%;
    flex-shrink: 0;
    transition: transform 0.5s ease;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .btn-prev, .btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
  }
  
  .btn-prev { left: 0; }
  .btn-next { right: 0; }
  
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}


.menubar {
    background-color: darkgray;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 30px;
    text-align: center;
}

.menubar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.menubar a:hover {
    background-color: #ddd;
    color: black;
}
body{
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
#presentacion {
    display: flex;
    align-items: center;
}

#presentacion div {
    display: flex;
    flex-direction: column;
    margin-left: 20px; 
}

#presentacion img {
    max-width: 200px; 
    height: auto;
    margin-right: 20px; 
}


.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    padding: 3px;
    border: 3px solid black;
    border-radius: 5px;
    grid-template-columns: 100% ;
    grid-template-rows: 1fr; 
    justify-content: center;
    justify-content: space-between;
}

.card-container {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.card {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    cursor: pointer;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
   
}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: black;
    color: #ddd;
}

.back p {
    font-size: 16px;
}

.card:hover .front {
    transform: rotateY(-180deg);
}

.card:hover .back {
    transform: rotateY(0deg);
}
#informacion {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#informacion img {
    width: 400px; 
    height: 400px; 
    margin: 0 10px; 
}
#titulo{
    text-align: center;
}
#donaciones{
    background-color: #34846c;
    padding: 40px;
}
/* Ajustes para dispositivos móviles */
@media screen and (max-width: 768px) {
    .card-container {
      flex-direction: column; /* Cambiar a disposición de columna para dispositivos móviles */
      align-items: center; /* Centrar tarjetas en dispositivos móviles */
    }
  
    .card {
      width: 90%; /* Ancho más estrecho para dispositivos móviles */
      margin: 20px 0; /* Espaciado entre tarjetas en dispositivos móviles */
    }
  
    #informacion {
      flex-direction: column; /* Cambiar a disposición de columna para dispositivos móviles */
      align-items: center; /* Centrar elementos en dispositivos móviles */
    }
  
    #informacion img {
      max-width: 90%; /* Ancho máximo para imágenes en dispositivos móviles */
      margin: 20px 0; /* Espaciado entre imágenes en dispositivos móviles */
    }
  }
  
  /* Ajustes para dispositivos con ancho de pantalla aún más pequeño, como smartphones en modo retrato */
  @media screen and (max-width: 480px) {
    .card {
      width: 100%; /* Ancho completo para tarjetas en dispositivos móviles con pantalla muy pequeña */
    }
  
    #informacion img {
      max-width: 100%; /* Ancho completo para imágenes en dispositivos móviles con pantalla muy pequeña */
    }
  }
  
  
